*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poopins,sans-serif;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    padding-top: 0.5rem;
}
span{
    font-size: 0.9rem;
    color: rgb(177, 128, 69);
 } 
 nav{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    height: 80px;
    align-items: center;
    /* padding: .5rem; */
}
.LOGO{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(53, 53, 62);
    text-decoration: none;
    gap: 0.6rem; 
}
.LOGOimg{
    height: 2rem;
    width: 2rem;
}
.LOGO-text{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(23, 20, 20);
    text-align: start;

}
/* .menu-buttan{
    display: none;
    border: none;
    border-radius: .375rem;

} */
/* @media screen and (max-width:500px) {
    .menu-buttan{
        display: flex;
    }
} */
.menuitem{
    height: 2rem;
    width: 2rem;
}

.navigation{
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    
}
 .navigation img{
   
    margin-top: 5px;
    margin-left: 20px;
    height: 30px;
    width: 30px;
    padding: 5px;
    display: none;
} 
#menu-close{
    display: none;
}

.ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.li{
     list-style: none;
    margin-left: 30px;

}
.a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.a:hover{
    color: yellow;
    transition: 0.3;
}  

     
/* home */
.Home{
    background-image: linear-gradient(rgba(9,5,54,0.3,rgba(5,4,46,0.7)));
    background-image: url("../images/bg.jpg");
    width: 100%;
    height: 100vh;
    /* background-repeat:no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.Home h2{
    /* width: 50%; */

    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;

}
.Home p{ 
    /* width: 50%; */
    color: white;
    font-size: .9rem;
    line-height: 25px;
    width: 50%;
}
.btn{
    margin-top: 30px;
}
.blue{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(145, 99, 232);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.blue:hover{
    color: black;
    transition: 0.3;
}
.yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(219, 239, 61);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.yellow:hover{
    color: black;
    transition: 0.3s ease;
}
/* features */
.features{
    padding: 5vw 5vw 0 5vw;
    text-align: center;

}
.fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
}
.fea-box{
    background-color: rgb(244, 234, 234);
    text-align: start;
}
.fea-box{
    font-size: 2.3rem;
    color: black;
}
 .h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 10px 0 7px 0;
    margin: 1rem;

}
.p2{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(44, 38, 38);
    margin: 1rem;
    padding: 6px 0 7px 0;

}
.features i{
    align-items: center;
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
}
/* Course */
.Course{
    padding: 5vw 5vw 5vw 5vw;
    text-align: center;
    background-color:rgb(240, 235, 235);
    margin: 1rem ;
}
.star i{
    color: rgb(248, 248, 97);
    font-size: 1rem;
}


.Course-box{
   
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    


}
.Courses{
    
    text-align: start;
    background-color: white;
    position: relative;
    

}

.img-courses{
    width: 100%;
    height: 60% ;
    background-size: cover;
    background-position: center;
}
.details{
    margin: 1rem 1rem 0.5rem 1rem ;
    font-size: 1.5rem;
}
.cost{
    background-color: rgb(74, 74, 136);
    color: white;
    line-height: 80px;
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}
/* .Registrtion */
.Registrtion{
    padding: 6rem 8rem 6rem 8rem;
    background-image: linear-gradient(rgba(99 112 168 .5) rgba(81 91 233 0.5)) url("lapp.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(" ../images/lapp.avif");
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Reminder{
    color: white;


}
.Reminder h1{
    color: white;
}
.time{
    display: flex;
    margin-top: 20px;
    width: 150px;
}
.date{
    width: 150px;
     text-align: center;
    padding: 10px 30px;
    background-color: rgba(225 225 225 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37) ;
    margin: 0 5px 10px 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;

}
.Form{
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37) ;
}
.Form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgba(84 40 241);
    outline: none;
}
.Experts{
     padding: 8PX 8PX 0 8px;
     text-align: center;
}
.Expert-Box{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    
    
}

.Profile{
    background-color: white;
    padding: 30px 10px;
}
.profile-link{
    margin-top: 3px;
}
.profile-link i{
    padding: 5px 7px;
    border:  1px solid rgb (21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}
.profile-link i:hover{
    padding: 10px 13px;
    border:  1px solid  rgba(31, 38, 135, 0.37);
    color: rgba(31, 38, 135, 0.37) ;
    cursor: pointer;
}
.Profile-img{
    border: rgb(218, 219, 221);
    border-radius: 100%;
    height: 50%;
    width: 50%;
    box-shadow: 1rem grey;
    
}
/* footer */
footer{
    padding: 1rem;
    background-color:rgb(6, 6, 47);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-col{
    padding-bottom: 40px;
}
footer h3{
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: rgb(166, 158, 158);
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
footer li:hover{
    color: white;
}
footer p{
    color: rgb(166, 158, 158);
}
.Subscribe{
    margin-top: 20px;
}
.Subscribe-text{
    width: 220px;
    padding: 12px 10px;
    background: rgb(172, 169, 169);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;

}

.Subscribe-text  :hover{
    color: rgb(83, 78, 78);
    transition: 0.3s ease;
}
.yellow2{
    width: 220px;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 33px;
    background-color: rgb(219, 239, 61);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.yellow2{
    color: white;
    background-color: rgb(207, 122, 10);
    transition: 0.3s ease;
}

.yellow2:hover{
    color: black;
    transition: 0.3s ease;
}
.copyrgite{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.copyrgite p{
    color: white;
}

 .pro-links2{
    margin-top: 5px;
}
.pro-links2 i{
    padding: 5px 7px;
    border:  1px solid rgb (21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
}
.pro-links2 i:hover{
    padding: 5px 7px;
    border:  1px solid  rgba(31, 38, 135, 0.37);
    color: rgba(143, 147, 190, 0.37) ;
    cursor: pointer;
} 
.Home-about{
    background-image: linear-gradient(rgba(9,5,54,0.3,rgba(5,4,46,0.7)));
    background-image: url("../images/aboutus.jpg");
    width: 100%;
    height: 50vh;
    /* background-repeat:no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 2px 0;


}
.Home-about h2{
    /* width: 50%; */

    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;

}
.footer-about{
    padding: 1rem;
    background-color:rgb(6, 6, 47);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 30px 0px 2px 0;
}
.fea-box{
    border: lightgray;
    box-shadow: 1rem;
    text-align: start;
}
.contaner{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}
.about-img{
    width: 60%;
}
.about-text{
    width: 40%;
    /* padding: 60px; */
    padding-right: 60px;
    
}
.about-text h2{
padding-bottom: 15px;  
color: rgb(22, 20, 20);  
}
.about-text P{
    font-weight: 300;  
    color: rgb(82, 75, 75);  
    }
 .about-fea{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
 }   
 .about-fea img{
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
 }
 .text-fea{
    width: 90%;
 }
 .text-fea h5{
    font-size: 16px;
    color: rgb(26, 25, 25);
 }
 .Trust{
    padding: 8vw;
    text-align: center;

}
.trust-img{
    
    /* width: 60%; */
    height: auto;
    margin: 10px 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

 .h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 10px 0 7px 0;
    margin: 1rem;

}
.p2{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(44, 38, 38);
    margin: 1rem;
    padding: 6px 0 7px 0;

}



/* home-blog */
.Home-blog{
    background-image: linear-gradient(rgba(9,5,54,0.3,rgba(5,4,46,0.7)));
    background-image: url(" ../images/blog2.jpg");
    width: 100%;
    height: 50vh;
    /* background-repeat:no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 2px 0;


}
/* .contaner-blog{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw  ;
} */
.bolg-post{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw  ;
}
.post{
    width: 60%;
}
.post{
    padding: 20px;
}

.cate{
    width: 30%;
}
.blog-img img{
     width: 100%;
     border-radius: 19px;
}
.blog-img h3{
    color: rgb(43, 42, 42);
    padding: 15px 0 10px 0;
    padding-bottom: 20px;

}
.blog-img p{
    color: rgb(43, 42, 42);
    padding: 15px 0 10px 0;
    padding-bottom: 20px;

}
.blog-img a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(145, 99, 232);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
    
.blog-img a:hover {
    color: rgb(103, 96, 96);

}
.cate{
    width: 30%;
    
}
.cate h2{
    padding-bottom: 7px;
}
.cate a{
   text-decoration: none;
   color: rgb(43, 40, 40);
   font-weight:  500;
   line-height: 45px;
}
/* coureses */
.Course-blog{
    padding: 5vw 5vw 5vw 5vw;
    text-align: center;
    background-color:rgb(240, 235, 235);
    margin: 1rem ;
}



.Course-blog{
   
    /* height: 100%; */
    display: grid;
    flex-direction: column;
    margin-top: 1rem;
    


}
.Courses-blog{
    
    text-align: start;
    background-color: white;
    position: relative;
    

}

.courses-blog{
    width: 100%;
    height: 60% ;
    background-size: cover;
    background-position: center;
}
.coureses-home{
    background-image: linear-gradient(rgba(9,5,54,0.3,rgba(5,4,46,0.7)));
    background-image: url("../images/Courses.jpg");
    width: 100%;
    height: 50vh;
    /* background-repeat:no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
 .coureses-home h2{
    /* width: 50%; */

    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;

}
.coureses-home p{ 
    /* width: 50%; */
    color: white;
    font-size: .9rem;
    line-height: 25px;
    width: 50%;
}
/* .Home-contact */
.Home-contact{
    background-image: linear-gradient(rgba(9,5,54,0.3,rgba(5,4,46,0.7)));
    background-image: url("../images/usc.jpg");
    width: 100%;
    height: 70vh;
    /* background-repeat:no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
 .Home-contact h2{
    /* width: 50%; */

    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;

}




@media (max-width:769px) {
    nav{
        padding: 15px 20px;

    }
    nav{
        width: 130px;

    }
    .navigation  #png-more{
        
        display: inline;
    } 
    .LOGO-text{
        font-size: 2rem;
        font-weight: 600;
        color: rgb(23, 20, 20);
        text-align: center;
    
    }
    #png-more{
        display: inline;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
    }
    .ul .active{
        right: 0;
    }
    .ul{
        position: absolute;
        top: 0;
        right:-220;
        width: 220px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgba(119, 120, 167, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255 255 255 0.18);
        transition: 0.3s ease;
    }
    .ul .active{
        right: 0;
    }
    .ul li{
        padding: 20px 0px 20px 40px ;
        margin-left: 0;
    }
    .ul li a{
        color: white;
    }
    .navigation img{
   
        margin-top: 5px;
        margin-left: 20px;
        height: 30px;
        width: 30px;
        padding: 5px;
        display: inline;
    } 
    #menu-close{
        display: inline;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
 

    
}
/* .ul{
    

} */
.li{
    padding:20px 0 20px 40px ;
}
.a{
    color: white;  
}
.Home{
    padding-top: 0px; 
}
.Home p{
    width: 450px;
}
.features{
    padding: 2vw 2vw 0 2vw;
    text-align: center;
}
.Course{
    padding: 2vw 2vw 2vw 2vw;
    text-align: center;
}
.Registrtion{
    padding: 0;

}
.time{
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    width: 140px;
}
.date{
     text-align: center;
    padding: 10px 30px;
}
.Reminder{
    padding: 0;
}

.Experts{
    padding: 4PX 4PX 0 4px;
    text-align: center;
}
.copyrgite{
    margin-top: 10px;

}
.yellow2{
    margin-top: 5px;
    display: grid;
}
/* about */
.contaner{
    padding: 4vw 4vw 2vw 4vw;
    flex-direction: column;
}
.about-img{
    width: 100%;
}
.about-text{
    width: 100%;
    padding-right: 0px;
    margin: 5px;
    
}
.trust-img{
    width: 60%;
    height: auto;
    margin: 10px 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    
} 
.Trust{
    padding: 4vw;
    text-align: center;
    

}

}



/* 320 */



@media (max-width:425px) {
    nav{
        padding: 5px 8px;

    }
    nav{
        width: 90px;

    }
    .navigation  #png-more{
        
        display: inline;
    } 
    #png-more{
        display: inline;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
    }
    .LOGO-text{
        font-size: 2rem;
        font-weight: 600;
        color: rgb(23, 20, 20);
        text-align: start;
    
    }
    .ul .active{
        right: 0;
    }
    .ul{
        position: absolute;
        top: 0;
        right:-220;
        width: 120px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgba(119, 120, 167, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255 255 255 0.18);
        transition: 0.3s ease;
    }
    .ul .active{
        right: 0;
    }
    .ul li{
        padding: 10px 0px 10px 20px ;
        margin-left: 0;
    }
    .ul li a{
        color: white;
    }
    .navigation img{
   
        margin-top: 2px;
        margin-left: 10px;
        height: 15px;
        width: 15px;
        padding: 2px;
        display: inline;
    } 
    #menu-close{
        display: inline;
        font-size: 0.6rem;
        color: white;
        padding: 15px 0 10px 10px;
 

    
}
/* .ul{
    

} */
.li{
    padding:10px 0 10px 20px ;
}
.a{
    color: white;  
}
.Home{
    padding:2px 3px;
    margin: 3px; 
}
.Home h2{letter-spacing: 2px;
    margin-left: 2px;
    text-align: center;
}
.Home p{
    width: 250px;
    line-height: 10px;
    
}
.btn{
    margin-bottom: 8px;
}
.features{
    padding: 1vw 1vw 0 1vw;
    text-align: center;
}
.Course{
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
}
.Registrtion{
    padding: 0;

}
.time{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 80px;
}
.date{
     text-align: center;
    padding: 5px 15px;
}
.Reminder{
    padding: 0;
}

.Experts{
    padding: 2PX 2PX 0 2px;
    text-align: center;
}
.copyrgite{
    margin-top: 5px;

}
.yellow2{
    margin-top: 2px;
    display: grid;
}
/* about */
.contaner{
    padding: 2vw 2vw 2vw 2vw;
    flex-direction: column;
}
.about-img{
    width: 100%;
}
.about-text{
    width: 100%;
    padding-right: 0px;
    margin: 5px;
    
}
.trust-img{
    width: 60%;
    height: auto;
    margin: 10px 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    
} 
.Trust{
    padding: 4vw;
    text-align: center;
    

}

}